@tailwind base;
@tailwind components;
@tailwind utilities;

.trending-slider {
    height: 485px;
    outline: 1px solid rgba(0, 0, 0, .205);
    width: 225px !important;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
}